@charset "UTF-8";
/*

Tipical Device Breakpoints

Celulares: de até 600px até 768px.
Tablets:768px até 992px.
Desktop: 992px até 1200px.
Grandes telas: acima de 1200px
*/

*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, blue, lightblue);
    
    
    
    
}

.container{

    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 580px;
    border: 2px solid;
    border-radius: 20px;
    
}
#imagem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    
    background-image: url(img/fernando.JPG);
    background-size: cover;
    height: 50%;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    
    
}
#menu{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

#menu h1{
    background-color:lightblue;
    margin: 10px 5px 5px 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    color:blue;
    
}
#menu h1:hover{
    background-color: aqua;
    transition: 0.5s;
}


   

